color-primary = #76276C
color-primary-lighter = #E651D4
color-primary-light = #A7399A
color-primary-dark = #44163F
color-primary-darker = #280D25

color-secondary-1 = #255C69
color-secondary-1-lighter = #53C5E0
color-secondary-1-light = #368395
color-secondary-1-dark = #15353D
color-secondary-1-darker = #0D1F24

color-secondary-2 = #592A71
color-secondary-2-lighter = #B558E4
color-secondary-2-light = #7F3DA1
color-secondary-2-dark = #331842
color-secondary-2-darker = #1E0E27

rgba-primary = rgba(118, 39,108,1)
rgba-primary-lighter = rgba(230, 81,212,1)
rgba-primary-light = rgba(167, 57,154,1)
rgba-primary-dark = rgba(68, 22, 63,1)
rgba-primary-darker = rgba(40, 13, 37,1)

rgba-secondary-1 = rgba(37, 92,105,1)
rgba-secondary-1-lighter = rgba(83,197,224,1)
rgba-secondary-1-light = rgba(54,131,149,1)
rgba-secondary-1-dark = rgba(21, 53, 61,1)
rgba-secondary-1-darker = rgba(13, 31, 36,1)

rgba-secondary-2 = rgba(89, 42,113,1)
rgba-secondary-2-lighter = rgba(181, 88,228,1)
rgba-secondary-2-light = rgba(127, 61,161,1)
rgba-secondary-2-dark = rgba(51, 24, 66,1)
rgba-secondary-2-darker = rgba(30, 14, 39,1)
