base-bg-color = #efefef
base-font-family = "lato", sans-serif
base-width = 900px

menu-height = 25px
menu-font-family = "lato", sans-serif
menu-font-size = 12px
menu-padding = 20px 0
menu-item-padding = 5px 15px
menu-item-color = #70777b
menu-item-color-hover = lighten(menu-item-color, 30)
menu-active-bg = #dce7f2
menu-active-color = darken(menu-active-bg, 30)

header-color = darken(menu-active-bg, 30)

form-input-shadow-color = rgba(0, 0, 0, .05)
form-input-border-radius = 5px
form-button-bg-color = form-input-shadow-color
form-button-bg-color-hover = darken(form-button-bg-color, 50)

search-input-height = 50px
search-input-font-size = 1.5em
