body
  margin 0 auto
  width base-width
  font-size base-font-size
  font-family base-font-family
  background-color base-bg-color

.ta-left
  text-align left

.ta-right
  text-align right

.ta-center
  text-align center
