body
  margin 0 auto
  width base-width
  font-size base-font-size
  font-family base-font-family
  background-color base-bg-color

.ta-left
  text-align left

.ta-right
  text-align right

.ta-center
  text-align center

.notice
  border 1px solid darken(base-bg-color, 10)
  padding 0 1em 1em
  text-align center
  background-color lighten(base-bg-color, 10)
  border-radius 5px
  animation open-animation 0.5s ease

  button
    padding 10px 20px
    font-weight bold
    font-size 1.2em
    margin-right 1em
