.control-panel
  min-height 100%

.control-panel-content,
.control-panel-header-content
  margin 0 auto
  width base-width

.control-panel-header
  overflow hidden
  background linear-gradient(to right, color-secondary-1, darken(color-secondary-1, 20%))
  margin-bottom 30px

  h1
    font-weight 900
    text-transform uppercase
    letter-spacing -1px
    color color-primary-lighter
