input[type='text']
  border-radius form-input-border-radius
  border 0
  box-shadow 0 -1px 0 form-input-shadow-color inset
  box-sizing border-box

button
  border 0
  border-radius form-input-border-radius
  background-color form-button-bg-color
  box-sizing border-box
  transition all .2s ease-out

  &:hover
    background-color form-button-bg-color-hover
