@require "_colors"
@require "_vars"
@require "animations"

@require "base"
@require "header"
@require "content"
@require "form"
@require "buttons"
@require "menu"
@require "control-panel"
@require "search"
@require "settings"

@require "loading-icon"
