.menu
  padding menu-padding

  ul
    padding 0
    font-size 0

  li
    font-family menu-font-family
    display inline-block
    height menu-height
    line-height menu-height
    text-align center
    font-size menu-font-size
    cursor pointer
    text-transform uppercase

.menu-item
  display block
  padding menu-item-padding
  text-decoration none
  color menu-item-color
  transition all .1s ease-out

  &:hover
    color menu-item-color-hover

  i
    margin-right 5px
    font-size menu-font-size + 3
    font-weight 400

.menu-item-active
  border-radius 5px
  background-color menu-active-bg
  color menu-active-color
  cursor default

  &:hover
    color menu-active-color
