.menu
  padding menu-padding

  ul
    padding 0
    font-size 0

  li
    display inline-block
    margin-right 5px
    font-size menu-font-size
    text-align center
    text-transform uppercase
    font-family menu-font-family
    cursor pointer

    &:last-child
      margin-right 0

.menu-item
  display block
  padding menu-item-padding
  border-radius 5px
  text-decoration none
  color menu-item-color
  transition all .1s ease-out

  &:hover:not(.menu-item-active)
    color color-secondary-1-lighter
    background-color darken(menu-item-active-bg-color, 10%)

  i
    margin-right 5px
    font-weight 400

  span
    line-height menu-item-height

.menu-item-active
  color color-secondary-1-lighter
  background-color menu-item-active-bg-color
  cursor default
