.reading-list-item
  position relative
  border-bottom 1px solid #eee
  padding-bottom 1em

  &:last-child
    border 0

.reading-list-item-alert
  margin-left 0.5em
  padding 3px
  font-size 0.6em
  text-style italic
  color #fff
  vertical-align top
  background color-primary
  border-radius 3px

.reading-list-item-source
  position absolute
  top 0
  right 21%

  img
    width 16px
    height 16px

.reading-list-item-progress
  position absolute
  top 0
  right 0
  width 20%

.reading-list-item-toolbar
  overflow hidden

  .btn,
  button
    font-size 1.2em
    margin 0
    padding 0 10px
    min-width 40px
    height 40px
    line-height 40px
    text-align center
    border-radius 0

    &:first-child
      border-top-left-radius 3px
      border-bottom-left-radius 3px

    &:last-child
      border-top-right-radius 3px
      border-bottom-right-radius 3px

.reading-list-item-toolbar-left
  float left

.reading-list-item-toolbar-right
  float right
