.search-field
  margin-bottom 50px

input.search-input
  padding 10px
  width 60%
  height search-input-height
  font-size search-input-font-size
  border-radius form-input-border-radius 0 0 form-input-border-radius

.search-btn
  width search-input-height
  height search-input-height
  font-size search-input-font-size
  border-radius 0 form-input-border-radius form-input-border-radius 0

.search-results
  width 100%
