.search-field
  margin-bottom 50px

input.search-input
  padding 10px
  width 60%
  height search-input-height
  font-size search-input-font-size
  border-radius form-input-border-radius 0 0 form-input-border-radius

.search-btn
  width search-input-height
  height search-input-height
  font-size search-input-font-size
  border-radius 0 form-input-border-radius form-input-border-radius 0

.search-results
  table
    width 100%
    border 0
    border-collapse collapse
    animation open-animation 0.5s ease

  th, td
    padding 10px 5px
    border-bottom 1px solid #ccc

  tr:hover
    td
      background darken(base-bg-color, 5%)

.search-results-site-list
  text-align right

  a
    display inline-block
    margin-right 5px

    &:last-child
      margin-right 0

  img
    width 16px
    height 16px

.search-info
  margin-bottom 20px
