#allres, #allres tr {
  width: 100%;
}

#resTr {
  font-size: 0 !important;
}

#allres tr {
  background-color: #CCCCFF;
}

#allres tr: nth-child(even) {
  background-color: #DDDDFF;
}

#allres td {
  vertical-align: middle;
  padding: 3px;
}

tr.lastLine {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}

tr.firstLine {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}

.mangaName {
  width: 60%;
}

.listMirror {
  width: 800px;
  text-align: left;
}

#results * img {
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.imgSearch {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 8px;
  padding-left: 20px;
  background-image: url(/img/find.png);
}

#coverLoadServer {
  display: none;
}

#result-count, #nores {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 10pt;
}

#filMirrors {
  text-align: center;
}

.mirror-icon {
  display: inline-block;
  padding: 2px 3px;
}

.mirror-status {
  text-align: center!important;
  height: 14px;
}

.mirror-icon-disabled {
  opacity: 0.3;
}

.mirror-icon-disabled .mirror-status {
  visibility: hidden;
}

#selectors {
  display: inline-block;
  text-align: right;
  float: right;
  border-radius: 4px;
  background-color: #CCCCFF;
  padding-left: 5px;
  padding-right: 5px;
}

#selectors img {
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

#searchBox p {
  font-size: 9pt;
}

#selectors select {
  border: none;
  border-radius: 4px 4px;
  background-color: #DDDDFF;
  font-size: 9pt;
}

input {
  border: none;
  border-radius: 4px 4px;
  background-color: #DDDDFF;
  font-size: 9pt;
  padding: 2px;
}

.optmgsearch {
  float: right;
  border-radius: 4px;
  background-color: #EEEEFF;
  padding: 2px;
  padding-right: 0;
}

.optmgsearch img {
  margin-right: 2px;
  cursor: pointer;
}

.eltmirrorsearch {
  float: left;
  border-radius: 4px;
  background-color: #EEEEFF;
  padding: 2px;
  margin-right: 2px;
  padding-left: 4px;
}

#results * img.addsinglemg {
  margin-right: 1px;
  padding-right: 0;
}

.article * {
  color: black;
}
